# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
front/node_modules/

# Expo
front/.expo/
front/dist/
front/web-build/

# Native
front/*.orig.*
front/*.jks
front/*.p8
front/*.p12
front/*.key
front/*.mobileprovision

# Metro
front/.metro-health-check*

# debug
front/npm-debug.*
front/yarn-debug.*
front/yarn-error.*

# macOS
front/.DS_Store
front/*.pem

# local env files
front/.env*.local

# typescript
front/*.tsbuildinfo


# partie backend
server/node_modules/
server/.env*.local
server/.env 

# Ignorer les fichiers générés et logs
*.log